# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\sqlaclhemy-challenge\Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [9]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [10]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column
### Why would I do this if I need to filter by month???

### Compare June and December data across all years

In [8]:
from scipy import stats

In [18]:
# Filter data for desired months
june = df.loc[df['date'].dt.month == 6 ]
december = df.loc[df['date'].dt.month == 12]

In [19]:
# Identify the average temperature for June
avg_june = june['tobs'].mean()
print(f'The average temperature in June is {avg_june} degrees')

The average temperature in June is 74.94411764705882

In [21]:
# Identify the average temperature for December
avg_dec = december['tobs'].mean()
print(f'The average temperature in December is {avg_dec} degrees ')

The average temperature in December is 71.04152933421226 degrees

In [24]:
# Create collections of temperature data
june_temps = june['tobs']
dec_temps = december['tobs']
all_temps = df['tobs']

In [28]:
# Run paired t-test
stats.ttest_ind(june_temps,all_temps)

Ttest_indResult(statistic=16.460235069495933, pvalue=1.6783271151877156e-60)

In [26]:
stats.ttest_ind(dec_temps,all_temps)

Ttest_indResult(statistic=-17.253129378790973, pvalue=3.0254601338166765e-66)

### Analysis

In [ ]:
##We see from these that the average temperature on a day in June is closer to the average day overall than the average temperature on a day in Deecember in Hawaii.